<section class="phx-hero">
  <form phx-submit="shorten">
    <input type="text" name="url" placeholder="Enter a URL" list="results" autocomplete="off"/>
    <button type="submit" phx-disable-with="Working...">Shorten</button>
  </form>

  <div>
    <a href="<%= @short_url %>"><%= @short_url %></a>
  </div>
</section>
